/* font-styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;

}
.banner-section-container{
    /* Rectangle 8 */
max-width: 1440px;
height: 650px;
/* border: 2px solid red; */
  background-color: rgba(229, 84, 115, 0.1);;
}
.banner-content{
    display: flex;
    /* border: 2px solid red; */
    width: 90%;
    margin: 0 auto;
}
.banner-text-container{
    width: 40%;
    /* border: 2px solid green; */
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-text-container button{
    margin-right: 340px;
    width: 150px;
    height: 45px;
    padding: 1cm 10px;
    background-color: rgb(229, 84, 115);
    border: none;
    border-radius: 2px;
    margin-top: 10px;
}
.banner-image-container{
    width: 60%;
    /* border: 2px solid blue; */
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
.banner-image-container img {
    width: 60%;
    /* border: 2px solid blue; */
    height: 650px;
}
.featured-image-container{
    width: 90%;
    height: 650px;
    margin: 0 auto;
    margin-top: 140px;
    /* border: 2px solid red; */
}
.featured-title-container{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}
.featured-images{
    display: flex;
    gap: 20px;
    /* border: 2px solid violet; */
    margin-top: 80px;
}
.first-image, .second-image, .third-image{
    /* width: 450px; */
    width: 33%;
    height: 520px;
    /* border: 2px solid red ; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50% 0 0;
}
.first-image img, 
.second-image img, 
.third-image img{
    height: 80%;
    width: 80%;

}


#first{
background-color: #f2dee7;
}
#second{
    background-color: #DAF0F2;
}
#third{
    background-color: #e3ecdc;
}

/* help-desk starts here */
.help-desk{
    width: 90%;
    height: 250px;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

background: rgba(39, 39, 39, 0.05);
}
.delivery, .local , .support{
    width: 33%;
    height: 120px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
       justify-content: center;
    align-items: center;

}

.delivery p, .local p, .support p{
    margin-top: 20px;
}
.delivery img, .local img, .support img{
    border: 2px dotted gray;
}


/* hot deal styles */
.hot-deal-container{
    width: 1440px;
    height: 650px;
    background-color:rgba(229, 84, 115, 0.05);
    /* border: 2px solid red; */
}
.hot-deal-content{
    display: flex;
    /* border: 2px solid red; */
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}
.hot-deal-text-container{
    width: 60%;
    /* border: 2px solid green; */
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.hot-deal-text-container button{
    margin-right: 25px;
    width: 150px;
    height: 45px;
    padding:10px 10px;
    background-color: rgb(229, 84, 115);
    border: none;
    color: #DAF0F2;
    border-radius: 8px;
    margin-top: 10px;
    
    
}
.hot-deal-image-container{
    width: 40%;
    /* border: 2px solid blue; */
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
.hot-deal-image-container img{
    border: 2px dotted gray;
}
 .hot-deal-text-container p{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 15px;
}




/* hot deal ends here  */
.instagram-section-container{
    width: 90%;
    height: 1050px;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-top: 100px;
}
.instagram-text-content{
    height: 132px;
    /* border: 2px solid red; */
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.first-insta-image{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}
.first-insta-image img{
    width: 90%;
    height: 90%;
    /* border: 2px solid red; */
 border-radius: 10px;
}
.instagram-image-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.super-deals-container{
    width:90% ;
    height: 449px;
    margin: 0 auto;
    /* border: 2px solid red; */
    background-image: url(../images/latest-deals-bg.png);
    background-position:  center;
    background-repeat: no-repeat;
    background-size:cover;

}
.super-deals-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.deals-content p{
    margin-bottom: 30px;
}
.deals-content input{
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#sub-btn{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 2px;
    background-color: rgb(229, 84, 115);
}

/* footer */
.footer-container{
    max-width: 1440px;
    height: 350px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 100px;
    padding-top:25px ;
    background-color: rgb(17, 16, 16);
}
.footer-content{
    
    height: 132px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
.text{
    color: white;
}
.text1{
    color: white;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    /* height: 30px; */
}
.des{
    color: rgba(255, 255, 255, 0.4);
    font-size: 10px;
    margin-top: 20px;

}

